<div>
  <%= display_bid_action('Search for projects to bid on', search_projects_path, 'search', 'primary') %>
</div>
<div class="mx-2 mb-4">
  <h3 class="my-3">Your submitted bids</h3>
  <% if bids.empty? %>
    <div class="alert alert-warning">You have not submitted any bids.</div>
  <% else %>
    <%= render 'shared/bid_table', bids: %>
  <% end %>
  <%= paginate bids %>
</div>
