<% if !@bid.accepted? || admin? %>
  <div class="mx-2">
    <h2>Edit your bid</h2>
    <%= render 'form', bid: @bid, new_record: false %>
  </div>
<% else %>
  <%= render 'file_upload_form', bid: @bid %>
<% end %>
<%= render 'shared/footer', previous_page: @bid %>