<% if admin? %>
  <h2>Manage bids</h2>
  <div class="row">
    <% @bids.each do |bid| %>
      <div class="col-lg-4">
        <%= render 'bid_card', bid: %>
      </div>
    <% end %>
  </div>
<% else %>
  <div>
    <%= link_to search_projects_path, class: 'btn btn-primary mb-2' do %>
      Search for projects to bid on <i class="bi bi-search"></i>
    <% end %>
  </div>
  <div class="mx-2 mb-4">
    <h3 class="my-3">Your submitted bids</h3>
    <% if @bids.empty? %>
      <p class="text-muted"> You have not submitted any bids </p>
    <% else %>
      <%= render 'shared/bid_table', bids: @bids %>
    <% end %>
  </div>
<% end %>
