<div class="mx-2">
  <h1>Create a new bid</h1>
  <p>Go ahead and create a new bid to find freelancers from around the world!</p>
  <%= render 'form', bid: @bid, project: @project, new_record: true %>
</div>
