<% unless @pending_users.empty? %>
<h2>Pending users:</h2>
<div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
  <% @pending_users.each do |user| %>
    <%= render 'user_card', user: %>
  <% end %>
</div>
<hr>
<% end %>
<h2>All approved users:</h2>
<div class="row row-cols-1 row-cols-md-3 g-4 my-3">
  <% @users.each do |user| %>
    <%= render 'user_card', user: %>
  <% end %>
  <%= paginate @users %>
</div>
