<%= render 'shared/search_form', search_path: search_users_path %>
<% @users.each do |u| %>
  <p><%= u.username%> <%= u.role %></p>
  <% u.categories.each do |cat| %>
    <span><%= cat.name %> </span>
  <% end %>
  <hr>
<% end %>
