<%= render 'shared/search_form', search_path: search_users_path %>
<div class="mt-1">
  <%= render 'user_table', users: @users %>
  <%= paginate @users %>
</div>
<%= render 'shared/footer', previous_page: root_path %>