<main>
  <div class="text-center my-3">
    <h2>Welcome visitor</h2>
    <p>As a visitor, you can look at public profiles of freelancers and the projects posted by clients</p>
    <p>To post your freelancing projects, register as a client. Or, if you are looking for freelancing work, register as a freelancer</p>
  </div>
</main>
