<% unless project.bid_awarded? %>
  <% if !project.bids.exists?(user_id: current_user.id) %>
    <%= display_project_action('New Bid', new_bid_path(project_id: project.id), 'plus-circle-dotted', 'primary') %>
  <% else %>
    <p>You have already placed a bid for this project</p>
  <% end %>
<% else %>
  <div class="alert alert-warning">Project has already been awarded</div>
<% end %>
