<% unless project.bid_awarded? %>
  <% unless user_has_bid?(project, current_user) %>
    <%= display_project_action('New Bid', new_bid_path(project_id: project.id), 'plus-circle-dotted', 'primary') %>
  <% else %>
    <p>You have already placed a bid for this project</p>
  <% end %>
<% end %>
