<h2>Manage projects</h2>
<div class="row">
  <% projects.each do |p| %>
    <div class="col-lg-4">
      <%= render 'projects/project_card', project: p %>
    </div>
  <% end %>
  <%= paginate projects %>
</div>
