<div class="mt-3">
  <div>
    <%= display_project_action('New project', new_project_path, 'plus-circle-dotted', 'primary') %>
  </div>
  <h3 class="my-3">Your submitted projects</h3>
  <% if user_projects.empty? %>
    <div class="alert alert-warning">You have not submitted any projects.</div>
  <% else %>
    <%= render 'shared/project_table', projects: user_projects %>
  <% end %>
  <%= paginate user_projects %>
</div>
