<% if admin? %>
  <%= render 'manage_projects', projects: @projects %>
<% else %>
  <div class="mt-3">
    <% if client? %>
      <%= link_to new_project_path, class: "btn btn-primary mb-2" do %>
        <i class="bi bi-plus-circle-dotted"></i> New project
      <% end %>
      <h3 class="my-3">Your submitted projects</h3>
    <% end %>
    <% if @recent_projects.empty? %>
      <div class="alert alert-info">You have not submitted any projects.</div>
    <% else %>
      <%= render 'shared/project_table', projects: @recent_projects %>
    <% end %>
    <%= paginate @recent_projects %>
  </div>
<% end %>
