<div class="mt-3">
  <h1>Create a new project</h1>
  <p>Go ahead and create a new project to find freelancers from around the world!</p>
  <%= render 'form', form_object: @project, submit_text: 'Create' %>
</div>
<%= render 'shared/footer', previous_page: projects_path %>