<div id="messages" class="overflow-auto flex-column mb-auto" data-room-id="<%= room.id %>">
  <% messages.each do |m| %>
    <div class="d-flex <%= m.user == current_user ? 'justify-content-start' : 'justify-content-end' %>">
      <div class="<%= m.user == current_user ? 'bg-primary' : 'bg-secondary' %> text-white rounded-pill px-3 py-1 mb-1 mx-2">
        <p class="mb-0">
          <%= m.content %>
        </p>
      </div>
    </div>
  <% end %>
</div>