<div class="d-flex flex-column justify-content-between" style="height: calc(100vh - 90px);">
  <%= render 'header', other_user: @other_user %>
  <%= render 'messages', room: @room, messages: @messages %>
  <%= render 'message_form', room: @room %>
</div>
