<h2 class="mb-3">Manage categories</h2>
<%= display_category_action('New category', new_category_path, 'plus-circle-dotted', 'primary') %>
<%= render 'category_list', categories: @categories %>
<div class="mt-3">
  <%= paginate @categories %>
</div>
<%= render 'shared/footer', previous_page: root_path %>